<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
       <img src="https://cdn.shopify.com/s/files/1/0078/6192/8051/files/pre_launch_romantic_480x480.jpg?v=1530178545" alt="" />
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
